/* Estilo para a fonte Inter */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc; /* cinza claro */
}

/* Cor de destaque */
.accent-color {
    color: #2563eb; /* azul */
}

.bg-accent-color {
    background-color: #2563eb; /* azul */
}

.border-accent-color {
    border-color: #2563eb; /* azul */
}
